body {
background-image: url("Lighthouse.jpg");
background-repeat: no-repeat;
background-size: 100%

}

div.test {background-color: red;
opacity: 0.1;
}

div. test p {
color: green;
opacity: 0.9;
}

iframe {
 padding: 25%;
}
